/*GENERAL*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;

}

@font-face {
    font-family: NeueMachina;
    src: url("assets/NeueMachina-Regular.otf") format("opentype");
}

@font-face {
    font-family: NeueMachina;
    font-weight: bold;
    src: url("assets/NeueMachina-Ultrabold.otf") format("opentype");
}
@font-face {
    font-family: NeueMachina;
    font-weight: lighter;
    src: url("assets/NeueMachina-Light.otf") format("opentype");
}

body{
    min-height: 100vh;

 
      background: #000000;
      overflow-x: hidden;
    
      font-family: ppobject;
      color: #ffffff;
      /* font-family: "Poppins", sans-serif; */
      background-color: #000000;
}
/*
html { 
    background: url(assets/1343254.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
  }*/

/* SCROLLBAR */
::-webkit-scrollbar{
    width: 1rem;
}

/* ::-webkit-scrollbar-track{
    background-color: var(--black);
    background: rgba(255, 0, 0, 0);
} */

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #8eff86;
    border:1px solid  transparent;
    border-top: 70px solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}


.nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}
a{
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover{
    color: rgb(243, 189, 41);
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(233, 196, 30);
}

.logo{
    font-size: 2rem;
}
.logo:hover{
    cursor: default;
}


/*DESKSTOP NAV*/

nav,
.nav-links{
    display: flex;

}

nav{
    justify-content: space-around;
    align-items: center;
    height: 17vh;

}

.nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}
a{
    color: #8fff86;
    text-decoration: none;
    font-family: NeueMachina;
}

a:hover{
    color: #ffffff;
    text-decoration: underline;
    text-underline-offset: 1rem;
}

.logo{
    font-size: 2rem;
}
.logo:hover{
    cursor: default;
}

/*HAMBURGER MENU*/

#hamburger-nav{
    display: none;
    z-index: 9999999;
}

.hamburger-menu{
    position: relative;
    display: inline-block;
    z-index: 9999999;
}

.hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
    filter: invert(40%);
  

}

.hamburger-icon span{
    width: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: all 0.3 ease-in-out ;
    z-index: 9999999;
}
.menu-links{
    position: absolute;
    top: 10%;
    right: 10px;
  
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out ;
        /* background: linear-gradient(135deg, rgba(18, 255, 18, 0.1), rgba(255, 255, 255, 0)); */
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        z-index: 9999999;
}
.menu-links a{
    display: block;
    padding: 10px;
    text-align:center;
    font-size: 1.5rem;
    color: #8eff86;
    border-bottom: 0.1px solid #8eff86;
    text-decoration:none;
    transition: all 0.3 ease-in-out ;
    z-index: 9999999;

}
.menu-links li{
    list-style: none;
}

.menu-links.open{
    max-height: 300px;
}
.hamburger-icon.open span:first-child{
  transform: rotate(45deg) translate(10px,5px);
}
.hamburger-icon.open span:nth-child(2){
  opacity: 0;
}
.hamburger-icon.open span:last-child{
  transform: rotate(-45deg) translate(10px,-5px);
}
.hamburger-icon span:first-child {
    transform: none;
}
.hamburger-icon span:first-child {
   opacity: 1;
}
.hamburger-icon span:first-child {
    transform: none;
}

.container{
    position: relative;
    max-width: 1300px;
    width: 100%;
    margin: 50px auto;
    padding: 20px;
}

.filter_buttons{

    display: flex;
    align-items: center;
    gap: 10px;
   
}

button{
    padding: 10px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    background: #fff;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    background: linear-gradient(135deg, #8fff86, rgba(73, 69, 69, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /* border-radius: 20px; */
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
/* @media screen and (max-width:600px) {
    button{
        
    }
} */
button.active{
    background: #8fff86;
       color: #1b1a1a;
}

.filterable_cards{
    margin-top: 25px;
    display: flex;

    gap: 10px;
    flex-wrap: wrap;
}

.card{
    flex-basis: 300px;
    background-color: #ffffff;
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /* border-radius: 20px; */
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    
}

.card.hide{
    display: none ;
}

.card img{
    width: 100%;
    /* border-radius: 7px 7px 0 0; */
    object-fit: cover;
    height: 170px;
}
.card_body{
    padding: 15px 20px 20px  ;

}

.card_title{
    font-size: 15px;
    font-weight: 500;
    color: #8fff86;
}
.card_text{
    font-size: 12px;
    color: #fff;
}
/*FOOTER*/ 

footer{
    height: 26vh;
    margin: 0 1rem;
  
  }
  footer p{
      text-align: center;
  }

  .dots{
    z-index: -99999;
    position: absolute;
    right: -20%;
    top: -200px;
    height: 800px;
    width: 800px;
    max-width:800px;
    min-width:800px;
    opacity: 80%;
    background-image: radial-gradient(closest-side, rgba(255,230,0,0.21), #00000000);
}

.dots-2{
    z-index: -99999;
    position: absolute;
   left: -20%;
    top: 250px;
    height: 800px;
    width: 800px;
    opacity: 80%;
    background-image: radial-gradient(closest-side, rgba(255,230,0,0.21), #00000000);
}
.dots-3{
    z-index: -99999;
    position: absolute;
    right: -20%;
    top: 140vh;
    height: 800px;
    width: 800px;
    max-width:800px;
    min-width:800px;
    opacity: 80%;
    background-image: radial-gradient(closest-side, rgba(255,230,0,0.21), #00000000);
}

.dots-4{
    z-index: -99999;
    position: absolute;
   left: -20%;
    top: 250vh;
    height: 800px;
    width: 800px;
    opacity: 80%;
    background-image: radial-gradient(closest-side, rgba(255,230,0,0.21), #00000000);
}
.dots-5{
    z-index: -99999;
    position: absolute;
   left: -20%;
    top: 380vh;
    height: 750px;
    width: 750px;
    opacity: 80%;
    background-image: radial-gradient(closest-side, rgba(255,230,0,0.21), #00000000);
}
.dots-6{
    z-index: -99999;
    position: absolute;
    right: -35%;
    top: 370vh;
    height: 700px;
    width: 700px;
    max-width:800px;
    min-width:800px;
    opacity: 80%;
    background-image: radial-gradient(closest-side, rgba(255,230,0,0.21), #00000000);
}
