@media screen and (max-width:1400px) {
    #profile{
        height: 83vh;
        margin-bottom: 6rem;
    }
    .about-containers{
        flex-wrap: wrap;
    }
    body{
     overflow-x: hidden;
    } } 
    
@media screen and (max-width:1200px) {
    body {
        max-width: 100%;
        overflow-x: hidden;
      }
    #dekstop-nav{
        display: none;
    }
    #hamburger-nav{
        display: flex;
    
        }

        #experience,
        .experience-details-container{
            margin-top: 2rem;
        }
        #profile,
        .section-container{
            display: block;
        }
        .arrow{
            display: none;
        }
        section,
       .section-container{
        height: fit-content;
       }
       section{
        margin: 0 5%;
       }
       .section__pic-container{
        height: 275px;
        width: 275px;
        margin: 0 auto 2rem;
       }
       .about-containers{
        margin-top:0 ;
       }
    }
    @media screen and (max-width:600px) {

        #contact, footer{
            height: 40vh;

        }
        body {
            overflow-x: hidden;
        }
        #profile{
            height: 83vh;
            margin-bottom: 0;
        }
        article{
            font-size:1rem ;

        }
        footer nav{
            height: fit-content;
            margin-bottom: 2rem;
        }
        .about-containers, .contact-info-upper-container, .btn-container{
           flex-wrap: wrap;
        }
        .contact-info-container{
            margin: 0;

        }
        .contact-info-container p, 
        .nav-links li a{
            font-size: 1rem;
        }
        .experience-sub-title{
            font-size: 1.75rem;

        }
        .logo{
          font-size: 1.5rem;
        }
        .nav-links{
            flex-direction: column;
            text-align: center;
            gap: 0.5rem;
        }
        .section__pic-container{
            width: auto;
            height: 46vw;
            justify-content: center;
        }
 .section__text__p2{
    font-size: 1.25rem;

 }
 .title{
    font-size: 2rem;

 }
 .text-container{
    text-align: justify;
 }
 .contact-icon{
    height: 1.90rem;
    cursor: default;
}
.details-container{
    padding: 1rem  2.5rem;
}
p{
    line-height: 1.5;
}
.btn-color-1{
    background:#8fff86 0.1rem solid;
    box-shadow: 0 0 10px #8eff8694,0 0 40px #8eff86b2,0 0 80px #8eff86;
    background: #8fff86;
}
/* .counter{
    position: absolute;
    left: 0%;
    top: 0%;
    display: flex;
    z-index: 1000000;
    color: #8eff86;
    font-size: 20vw;
    font-family: ppobject;


} */
#preloader{
    z-index: 2000;
    width: 100%;
    height:100%;
    background: #111111;
    overflow-y:hidden;
    overflow-x: hidden;
    position:fixed;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  }
  .p{
    z-index: 9999999999999999;
    position: absolute;
    font-family: neuemachina;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    color: #8eff86;
}
    }
